.navbar {
  font-family: 'Poppins', sans-serif;
  color: #ffffff; 
}

/* Logo */
.navbar-brand {
  font-size: 2rem; 
  font-weight: bold;
  color: #ffffff; 
}

/* Links */
.navbar .nav-link {
  font-size: 1.1rem;   
  font-weight: 500;    
  margin: 0 0.5rem;    
  color: #ffffff; 
  transition: color 0.2s ease;
}


.navbar .nav-link:hover {
  color: #d412ea; 
}


.custom-navbar {
  background-color: #000000; 
}


@media (max-width: 991.98px) {
  .navbar-collapse {
    text-align: center;
  }
  
  .navbar-collapse .d-flex {
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .navbar-collapse .d-flex .btn {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
}